* {
    background-color: #FFF8DC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading_1 {
    text-align: center;
    color: #E9967A;
    margin: 0px;
    font-size: 50px;
}

.main_meat {
    background-color: rgb(86, 52, 52);
    margin-top: 50px;
}



a {
   
    color: yellow;
    display: block;
    padding: 30px;
    text-decoration: none;
    
}



a:hover {
    background-color: #E9967A;
    color: black;
    width: 100%;
}

ul,li {
    list-style-type: none;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    width: 100%;
}



